@font-face {
  font-family:"Gotham";
  src:url("../fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
	font-family:"Gotham Bold";
	src:url("../fonts/Gotham-Bold.otf") format("opentype");
}

* {
	padding:0;
	margin:0;
	font-family:"Gotham", sans-serif;
}

body {
	z-index:7;
}

a {
	color:white;
	text-decoration:none;
}

a:hover {
	color:#999;
}

.container {
	width:1280px;
	margin:0 auto;
	z-index:8;
}

.left {
	float:left;
}

.right {
	float:right;
}

.content {
	background-color:#fce6ad;
	min-height:800px;
	z-index:9;
}

.header-top {
	background-color:#fac846;
	height:160px;
}

.header-top-company {
	float:left;
	width:500px;
	margin-top:10px;
	position:relative;
}

.header-top-logo {
	width:140px;
	height:140px;
	float:left;
}

.header-top-name {
	font-family:"Gotham Bold";
	float:left;
	font-size:54px;
	margin-top:30px;
	letter-spacing:2px;
}

.header-top-desc {
	font-size:16px;
	float:left;
	margin-left:5px;
}

.header-bottom {
	background-color:black;
	height:30px;
	overflow:hidden;
}

.nav-list {
	list-style:none;
	height:30px;
}

.nav-list li {
	display:inline-block;
	height:30px;
	margin:0 10px;
	height:30px;
	position:relative;
}

.nav-list li a {
	color:#fff;
	/*Transitions*/
		-webkit-transition: all ease-in-out;
		-moz-transition: all ease-in-out;
		-o-transition: all ease-in-out;
		-ms-transition: all ease-in-out;
		transition: all ease-in-out;
		transition-duration:100ms;
	line-height:30px;
}

.nav-list li form input[type=text] {
	height:30px !important;
	width:240px;
	-webkit-box-sizing : border-box;‌​
  -moz-box-sizing : border-box;
  box-sizing : border-box;
  padding-top:3px;
  padding-left:5px;
	border:none;
	padding:none;
	outline:none;
}

.nav-list li a:hover {
	color:#999;
	cursor:pointer;
}

.nav-list-dropdown {
	display:none;
	position:absolute;
}

.nav-list:hover .nav-list-dropdown {
	display:block;
	height:200px;
	width:200px;
	background-color:#fff;
	top:30px;
	left:0;
	z-index:10;
}